<form class="{{cssClass}}" autocomplete="off">
    {{!-- Header - Ficha de Item --}}
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    {{!-- Tabs - Ficha de Item --}}
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="description">{{localize "ordemsys.description"}}</a>
    <a class="item" data-tab="details">{{localize "ordemsys.details"}}</a>
    <a class="item" data-tab="effects">{{localize "ordemsys.effects"}}</a>
</div>

    <div class="ui bottom attached tab segment" data-tab="test2">
        <table>
            <tr>
                <th>{{localize "ordemsys.weapon.typewpn"}}</th>
                <th>{{localize "ordemsys.weapon.typehandling"}}</th>
                <th>{{localize "ordemsys.weapon.category"}}</th>
                <th>{{localize "ordemsys.weapon.slot"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.typewpn">
                        {{#select data.typewpn}}
                        {{#each config.weaponTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                     </select>
                </td>
                <td>
                    <select name="data.typehandling">
                        {{#select data.typehandling}}
                        {{#each config.weaponhandling as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                     </select>
                </td>
                <td>
                    <select name="data.category">
                        {{#select data.category}}
                        <option value="0">0</option>
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.slot" type="text" value="{{data.slot}}" data-dtype="number">
                </td>
            </tr>

            <tr>
                <th>{{localize "ordemsys.weapon.damage"}}</th>
                <th>{{localize "ordemsys.weapon.critic"}}</th>
                <th>{{localize "ordemsys.weapon.range"}}</th>
                <th>{{localize "ordemsys.weapon.damage"}}</th>
                
            </tr>
            <tr>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="number">
                </td>
                <td>
                    <input name="data.critic" type="text" value="{{data.critic}}">
                </td>
                <td>
                    <input name="data.range" type="text" value="{{data.range}}" data-dtype="number">
                </td>
                <td>
                    <select name="data.typedmg">
                        {{#select data.typedmg}}
                        {{#each config.damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                     </select>
                </td>
                
            </tr>
        </table>
    </div>
    
    <div class="ui bottom attached tab segment active" data-tab="test1">
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>
